body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.nav {
  background-color: #9733ff;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 2%;
}

.heading {
  margin: 3% 5%;
  font-size: 2rem;
}

.continer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  padding: 10px;
  margin: 5%;
}

/* Outer Box */
.box {
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 3px solid #9733ff;
  border-radius: 15px;
  padding: 10px;
  margin: 5%;
}

/* Inner Box */
.box-inner {
  margin: auto 0.2rem;
  padding: 0.5rem;
}

.movie-name {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.btn-action {
  background-color: #d87093;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  color: black;
}

.btn-action:hover {
  background-color: black;
  color: #d87093;
}

.btn-thrill {
  background-color: rgb(167, 167, 240);
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  color: black;
}

.btn-thrill:hover {
  background-color: black;
  color: rgb(167, 167, 240);
}

.btn-like {
  max-width: 40px;
  filter: invert(38%) sepia(100%) saturate(1146%) hue-rotate(89deg)
    brightness(109%) contrast(111%);
}
.like {
  font-size: 1.8rem;
  color: #00cc00;
  margin: 8%;
}

.poster-img {
  max-width: 200px;
  border-radius: 15px;
}

.content-1 {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0.5rem auto;
}

.content-2 {
  color: rgb(85, 85, 85);
  font-size: 1.3rem;
  margin: 0.5rem auto;
}

/* Smaller Screens */

@media (max-width: 700px) {
  .nav {
    font-size: 2rem;
  }

  .heading {
    display: none;
  }

  .box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: 0 30px;
  }

  .box-inner {
    align-items: left;
  }

  .heading {
    text-align: center;
  }

  .poster-img {
    max-width: 300px;
  }

  .content-1 {
    font-size: 1.5rem;
  }

  .content-2 {
    font-size: 1.2rem;
  }

  .btn-like {
    max-width: 25px;
    filter: invert(27%) sepia(84%) saturate(4195%) hue-rotate(260deg)
      brightness(100%) contrast(103%);
    margin-left: 0.5rem;
  }
  .like {
    font-size: 1.2rem;
    color: #9733ff;
  }
}

@media (max-width: 450px) {
  .poster-img {
    max-width: 150px;
  }

  .content-1 {
    font-size: 1.2rem;
  }

  .content-2 {
    font-size: 1rem;
  }

  .btn-action,
  .btn-thrill {
    font-size: 0.8 rem;
  }
}

@media (max-width: 390px) {
  .btn-action,
  .btn-thrill {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
}
